.websockets *:before, *:after {
  box-sizing: border-box;
}

.websockets #page-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  width: 650px;
  background: #eee;
  padding: 0.5em 1em;
  margin: 0.5em auto 0;
}

#status {
  font-size: 0.75em;
  margin-bottom: 1rem;
}

.open {
  color: green;
}
.closed {
  color: red;
}

.websockets ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.5em;
}

.websockets ul li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #fff;
}

.websockets ul li:first-child {
  border-top: 1px solid #fff;
}

.websockets ul li span {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #999;
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sent {
  background-color: #F7F7F7;
}

.received {}

#message-form {
  margin-top: 1.5rem;
}


.websockets textarea {
  width: 96%;
  padding: 0.5em;
  font-size: 0.5em;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  margin-bottom: 1rem;
}

.websockets button {
  font-family: inherit;
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.5em;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #aaa;
  border-bottom: 1px solid #888;
}

.websockets button[type="submit"] {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

.websockets button:hover {
  opacity: 0.75;
  cursor: pointer;
}
